* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input,
textarea {
    background-color: $input-bg-color;
    width: 300px;
    height: 30px;
    border-style: double;
}

label[for="email"] {
    margin-left: 40px;
}

form {
    text-align: center;
    margin-top: 70px;
}

textarea {
    margin-top: 30px;
}

.copyright {
    margin-top: 80px;
    text-align: right;
}

button[type="submit"] {
    margin-top: 20px;
    height: 30px;
    width: 80px;
    background-color: $button-bg-color;
}

.other {
    position: absolute;
    width: 80%;
    height: 150%;
    background-color: rgb(105, 80, 33);
    margin-left: 20%;
    border-radius: 15px;
}

.info {
    position: fixed;
    float: left;
    width: 20%;
    background-color: rgb(37, 33, 14);
    border-radius: 0px 15px 15px 0px;
    text-align: center;
}