@import './variable.scss', './global.scss', './mixin.scss', './typography.scss', './color.scss', './bloc';



.profile {
    margin-bottom: 30px;
    font-size: 20px;
    font-family: $font-family-cursive;
}

h2 {
    background-color: $header-bg-color;
    font-family: $font-family-main;
    color: $text-color;
    text-align: center;
    border-radius: 15px;
    margin: auto 0 20px;
    @include font-size-responsive($font-size-medium, $font-size-medium, $font-size-large, 3.5rem);
}

h3 {
    font-size: $font-size-medium;
    border-bottom: 2px solid rgba(175, 164, 10, 0.615);
    color: $highlight-color;
}

.text-1,
.text-2,
.text-3 {
    font-style: italic;
    font-size: 1.25rem;
    color: #fff;
}

nav {
    @include responsive-padding(10px, 20px, 30px);
    background-color: $nav-background-color;
    font-size: $font-size-small;
    border-radius: 0 0 15px 0;
    text-align: center;

    li {
        float: right;
        display: block;
        width: 100px;
        height: 50px;
        background: rgba(92, 28, 36, 0.75);
        color: #fff;
        font-size: $font-size-small;
        line-height: 50px;
        border-radius: 3px;
        margin: 30px;

        &:hover {
            background-color: rgba(92, 28, 36, 1);
        }
    }
}

input,
textarea {
    background-color: $input-bg-color;
    width: 300px;
    height: 30px;
    border-style: double;
}

button[type="submit"] {
    margin-top: 20px;
    height: 30px;
    width: 80px;
    background-color: $button-bg-color;
}