@mixin font-size-responsive($small, $medium, $large, $x-large) {
    font-size: $small;

    @media screen and (min-width: 768px) {
        font-size: $medium;
    }

    @media screen and (min-width: 992px) {
        font-size: $large;
    }

    @media screen and (min-width: 1200px) {
        font-size: $x-large;
    }
}


@mixin responsive-padding($small, $medium, $large) {
    padding: $small;

    @media screen and (min-width: 768px) {
        padding: $medium;
    }

    @media screen and (min-width: 992px) {
        padding: $large;
    }
}


@mixin font-size-responsive($small, $medium, $large, $x-large) {
    font-size: $small;

    @media screen and (min-width: 768px) {
        font-size: $medium;
    }

    @media screen and (min-width: 992px) {
        font-size: $large;
    }

    @media screen and (min-width: 1200px) {
        font-size: $x-large;
    }
}