$dark-gray: #2e2e2e;
$primary-color: rgb(37, 33, 14);
$accent-color: rgb(155, 136, 53);
$nav-bg-color: rgb(58, 53, 42);
$button-bg-color: cadetblue;
$light-bg-color: rgb(77, 76, 76);
$darkcyan: darkcyan;
$primary-text-color: darkgray;
$highlight-color: #5c1c24c0;
$button-text-color: #fff;
$rgb-color:rgba(175, 164, 10, 0.615);