$background-color: black;
$nav-background-color: rgb(58, 53, 42);
$header-bg-color: darkslategrey;
$highlight-color: darkcyan;
$text-color: darkgray;
$button-bg-color: cadetblue;
$input-bg-color: rgb(77, 76, 76);


$font-size-large: 50px;
$font-size-medium: 40px;
$font-size-small: 20px;
$font-size-tiny: 16px;


$font-family-main: Verdana,
Geneva,
Tahoma,
sans-serif;
$font-family-cursive: cursive;